# Database Secrets
DB_NAME=
DB_USER=
DB_PASS=


# General settings
ENV_MODE=

# Backend Settings
ENABLE_EMAILS=
SPRING_PROFILES_ACTIVE=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=

# website Settings
BACKEND_URL=